body {
  background: #eb1818;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #24486c;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #5a9cc9;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
}

.content {
  background: #221858;
  margin-bottom: 10px;
  padding: 16px 8px;
}

.button-container {
  margin-top: 10px;
  background: #639f0f;
  text-align: center;
  padding: 8px;
}

button {
  margin: 0 auto;
  padding: 8px 24px;
  background: rgb(43, 160, 72);
  border: 1px solid #eee;
  display: block;
}